body {
  background-color: var(--bg-color);
}

tbody {
  width: 100%;
  display: table;
}

td,
th {
  padding: 0.8rem;
}

.button {
  line-height: 1.8rem;
  height: auto;
  padding: 0 1rem;
  border: 0.1rem solid var(--tg-theme-button-color);
}

.button.button-outline {
  color: var(--tg-theme-button-color);
}

.table-container {
  padding: 2rem;
}

.description {
  margin: 0;
  font-size: 0.9em;
  font-weight: normal;
}

.center {
  text-align: center;
}

.no-margin {
  margin: 0;
}
